body {
  font-size: 16px;
  line-height: 1.2em;
}

.snippet__thumbnail > img {
  width: 100%;
}

.snippet__title {
  order: 0;
  width: 100%;
  margin: 0 0 0.5em;
}

.snippet__thumbnail {
  order: 1;
  width: 30%;
}



@media screen and (max-width: 450px) {
  .snippet__thumbnail {
    display: none;
  }
}

@media screen and (max-width: 649px) {
  .snippet__title {
  }

  .snippet__thumbnail {
    width: 30%;
    margin: 0;
  }
}

@media screen and (min-width: 650px) {
  .snippet__title {
  }

  .snippet__thumbnail {
    width: 30%;
    height: 150px;
    margin-right: 0;
  }
}
